<div class="page-header">
  <h1>Create new client</h1>
</div>

<div class="row">
  <div class="col-md-4  col-md-offset-2">
    <div class="form-container">
    <%= form_for(@client) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
          <%= f.label :first_name, class: "control-label" %>
          <%= f.text_field :first_name, class: "form-control" %>
          <%= f.label :last_name, class: "control-label" %>
          <%= f.text_field :last_name, class: "form-control" %>
          <%= f.label :phone_number, class: "control-label" %>
          <%= f.text_field :phone_number, class: "form-control" %>
          <%= f.label :email, class: "control-label" %>
          <%= f.email_field :email, class: "form-control" %>
          <%= f.submit "Add new client", class: "btn btn-default" %>
    
    
    <% end %>
    </div>
  </div>
</div>