
<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item"><%= @client.first_name %></li>
      <li class="list-group-item"><%= @client.last_name %></li>
      <li class="list-group-item"><%= @client.phone_number %></li>
      <li class="list-group-item"><%= @client.email %></li>
    </ul>
    <%= link_to "Edit", edit_client_path(@client), class: "btn btn-default" %>
    <%= link_to "delete", @client, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
  </div>
</div>

