
<div class="room-list-row">
  <div class="room-list-item">
    <div><%= room.name %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.size %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.room_type %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.bathrooms %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.bathroom_type %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.pax %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.max_pax %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.beds %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.extra_beds %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.floor %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.description %></div>
  </div>
  <div class="room-list-item">
    <div><%= room.created_at %></div>
  </div>
</div>